*{
    margin:0px;
    padding:0px;
    list-style:none;
    font-family:sans-serif;
}
#border-1{
    padding:40px;
}
header{
    display:flex;
    justify-content:flex-end;
}
header li{
    display:inline;
    margin-right:70px;
}
header a{
    text-decoration:none;
    color:#000;
    font-size:17px;
}
header li a:hover{
    border-bottom:2px solid #000;
}
#loggo{
    float:left;
    width:100px;

}
header button{
    margin-left:0px;
    background-color:#ffffff;
    border:1px solid #000;
    padding:15px 25px;
    font-size:17px;
    border-radius:30px;
    transition-delay:1;
    transition-duration: 0.2s;
}
header button:hover{
    transform:rotate(5deg);
}
main{
    padding:200px 0px;
}
main h2{
    text-align:center;
    font-size:23px;
}
main h1{
    font-size:20px;
}
.Icon-1{
    margin:auto;
    border:1px solid rgb(73, 73, 255);
    background-color:rgb(73, 73, 255);
    padding:45px 40px;
    border-radius:50%;
    width:fit-content;
}
.Icon-2{
    margin:auto;
    border:1px solid rgb(73, 73, 255);
    background-color:rgb(73, 73, 255);
    padding:45px 40px;
    border-radius:50%;
    width:fit-content;
}
.Icon-3{
    margin:auto;
    border:1px solid rgb(73, 73, 255);
    background-color:rgb(73, 73, 255);
    padding:45px 40px;
    border-radius:50%;
    width:fit-content;
}
#small-border{
    margin:auto;
    border-top:2px solid rgb(185, 185, 185);
    width:30px;


}
#Everything {
    display:flex;
    justify-content:center;
}
#Position-1{
    margin-right:80px;
    padding:30px;
    width:fit-content;
}
#Position-1 .Icon-1{
    margin-bottom:30px;
}
#Position-1 #small-border{
    margin-top:30px;
    margin-bottom:30px;
}
#Position-1 h1{
    text-align:center;
}
#Position-1 p{
    width:300px;
}

#Position-2{
    margin-right:80px;
    padding:30px;
    width:fit-content;
}
#Position-2 .Icon-2{
    margin-bottom:30px;
}
#Position-2 #small-border{
    margin-top:30px;
    margin-bottom:30px;
}
#Position-2 h1{
    text-align:center;
}
#Position-2 p{
    width:300px;
}

#Position-3{
    padding:30px;
    width:fit-content;
}
#Position-3 .Icon-3{
    margin-bottom:30px;
}
#Position-3 #small-border{
    margin-top:30px;
    margin-bottom:30px;
}
#Position-3 h1{
    text-align:center;
}
#Position-3 p{
    width:300px;
}
section{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url(img/img4.png);
    height:450px;
    background-size:cover;
    background-repeat:no-repeat;
}
section .img-posit{
    display:flex;
    justify-content:center;
}
section .Text{
    text-align:center;
    margin:20px 0px;
    font-size:10px;
    color:#ffffff;
}
section .Area input{
    padding:20px 40px;
    background-color: transparent;
    border:1px solid #ffffff;
    border-radius:3px;
}
section .btn-posit{
    margin-left:20px;
}
section .btn-posit button{
    padding:20px 10px;
    background-color:#1f5bff;
    border:1px solid #1f5bff;
    border-radius:3px;
    color:#ffffff;
}
#YEET{
    display:flex;
    display:inline-flex;
}
footer{
    background-color:#000;
    height:400px;
}
#Image-posit{
    display:flex;
    justify-content:center;
    padding-top:60px;
    margin-bottom:30px;
}
footer ul{
    display:flex;
    justify-content:center;
}
footer li{
    margin-right:50px;
}
footer a{
    text-decoration:none;
    color:#ffffff;
}
footer p{
    text-align:center;
    color:rgba(211, 211, 211, 0.315);
    font-size:17px;
}
.container{
    height:500px;
    width:100%;
    background-image:url(img/img.png);
    background-size:cover;
}
.Try-btn{
    display:flex;
    justify-content:center;
    position:relative;
    top:50%;
}
.container button{
    transition-delay:1;
    transition-duration: 0.2s;
    padding:14px 70px;
    font-size:17px;
    border:1px solid rgb(255, 112, 56);
    background-color:rgb(255, 112, 56);
    color:#fff;
    border-radius:4px;
}
.container button:hover{
    transform:rotate(5deg);
}